<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Rent_A_Car.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-MO050TQ;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Rent_A_Car.Properties.Settings.rent_a_carConnectionString"
            connectionString="Data Source=DESKTOP-MO050TQ;Initial Catalog=rent-a-car;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>